<section class="bg-gray-200 p-10 my-14 md:w-1/2 mx-auto shadow">
  <div class="container mx-auto">
    <h1 class="text-center text-4xl my-3">Checkout</h1>
    <form [formGroup]="checkoutform" (ngSubmit)="submitform()">
      <app-input
        [element]="'text'"
        [control]="checkoutform.get('shippingAddress')?.get('details')"
        [idinput]="'details'"
        [lableinput]="'details'"
      >
      </app-input>

      <app-input
        [element]="'input'"
        [control]="checkoutform.get('shippingAddress')?.get('phone')"
        [idinput]="'phone'"
        [lableinput]="'phone'"
        [typeinput]="'tel'"
      >
        accept only egypt phonenumbers</app-input
      >
      <app-input
        [element]="'input'"
        [control]="checkoutform.get('shippingAddress')?.get('city')"
        [idinput]="'city'"
        [lableinput]="'city'"
        [typeinput]="'text'"
      ></app-input>
      <div class="flex justify-center gap-5 mt-5">
        <button class="btn bg-green-600">Pay Now</button>
      </div>
    </form>
  </div>
</section>
