<section
  class="p-4 my-4 bg-gray-100 border border-gray-300 shadow rounded md:w-1/2 mx-auto"
>
  <h2 class="text-4xl text-center p-2">login now</h2>
  @let emailcontrol=loginform.get('email'); @let
  passwordcontrol=loginform.get('password');

  <form [formGroup]="loginform" (ngSubmit)="submitform()" class="space-y-4">
    <app-input
      [control]="loginform.get('email')"
      [typeinput]="'email'"
      [idinput]="'email'"
      [lableinput]="'Email'"
    ></app-input>

    <app-input
      [control]="loginform.get('password')"
      [idinput]="'password'"
      [lableinput]="'Password'"
    ></app-input>
    <button
      type="submit"
      [disabled]="loginform.invalid"
      class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      login @if(isLoading) {<span
        ><i class="fa fa-spinner animate-spin"></i></span
      >}
    </button>

    @if (msg) {
    <div class="mt-4 text-sm text-red-600 dark:text-red-400">
      {{ msg }}
    </div>
    }
  </form>
</section>
